*{
    margin: 0; padding: 0; box-sizing: border-box;
  }
  
  #root{
    height: 100vh;
  }
  
  .layout {
    height: 100%;
    display: grid;
    grid-template-areas: "header"  "main"  "footer" ;
    grid-template-rows: 100px  1fr  50px;
  }
  

  main{
    grid-area: main;
    background-color: #72dbf2;
  }

  footer{
    grid-area: footer;
    background-color: rgb(224, 91, 14);
  }